export(read.GX, plotGX, CS, CS.GXcurve, PGMean, PGMean.GXvalue, Find, Find.GXcurve, GetValue, GetValue.GXcurve)
importFrom("utils", "read.csv")
importFrom("stats", "sd")
importFrom("graphics", "hist")
importFrom("ggplot2", "ggplot", "ggsave", "element_text", "element_blank", "unit", "aes_string", "aes", "geom_point", "labs","theme_bw","theme")